body{
    background-color: aquamarine;
}
.flex-container{
     display: flex;
    
}
.flex-container div {
    width: 200px;
    height: 250x;
    background-color: antiquewhite;
    margin: 5px;
}

h1{
    width: 200px;
   border: 15px solid green;
   padding: 50px;
   margin: 20px
}
img{
    width: 200px;
    height: 200xp;

}
footer{
    background-color: black;
    height: 50px;
}
